body{
    background-color: white; 
}

#scoreboard {
    font-size: 25px;
}
#scoreboard .score#player1 {
    text-align: center;

}
#scoreboard .score#player2{
    text-align: center;
}
.container{
    width: 470px;
    height: 470px;
    display: block;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 0, 0);
    position: relative;
}

#cvs{
    position: absolute;
    border: 10px solid rgb(14, 54, 233);
}

.options{
    position: absolute;
    width: 470px;
    height: 470px;
}

.options h1{
    text-align: center;
    font-size: 70px;
    color: rgb(14, 54, 233);
    text-shadow: 2px 2px 7px rgb(255, 0, 0);
    margin: 30px 0 20px 0;
}

.options h2{
    text-align: center;
    font-weight: bold;
    color: rgb(14, 54, 233); 
    text-shadow: 2px 2px 5px red;

}

.options div{
    display: inline-block;
}

.options .ai, .x{
    padding: 5px;
    background-color: #FFF;
    color: #000;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 70px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 3px solid rgb(255, 0, 0);
}

.options .human, .o{
    padding: 5px;
    background-color: #FFF;
    color: #000;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border: 3px solid rgb(255, 0, 0);
}

.options .human:hover, .ai:hover, .x:hover, .o:hover{
    background-color: #011627;
    color: #FFF;
}

.options .play{
    font-size: 1.5em;
    width: 70px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #011627;
    text-align: center;
    padding: 10px;
    background-color: #011627;
    color: #FFF;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.options .play:hover{
    width: 110px;
}

.active{
    background-color: #0f0202 !important;
    color: #FFF !important;
}

.hide{
    display: none;
}

.gameover{
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.95);
}
.gameover h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
    margin: 40px 0 20px 0;
}

.gameover .winner-img{
    display: block;
    margin: 50px auto;
}

.gameover .play{
    width: 150px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 100ms width ease-in;
}
.gameover .play:hover{
    width: 200px;
}